* {
  box-sizing: content-box;
}

a {
  text-decoration: none;
  color: unset;
}

.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}

.img-fill {
  object-fit: fill;
}

.img-cover {
  object-fit: cover;
}

.img-contain {
  object-fit: contain;
}

.coin {
  border-radius: 50%;
}

.f-bold {
  font-weight: bold;
}

.f-uppercase {
  text-transform: uppercase;
}

.f-capitalize {
  text-transform: capitalize;
}

.center {
  justify-content: center;
  align-items: center;
}

form {
  width: 100%;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
